.ms-60 {
  margin-left: 60px;
}

.ms-75 {
  margin-left: 75px;
}

.ms-45 {
  margin-left: 45px;
}

.ms-50 {
  margin-left: 50px;
}

.ms-80 {
  margin-left: 80px;
}

.ms-65 {
  margin-left: 65px;
}

.ms-62 {
  margin-left: 62px;
}
