.mt-50 {
  margin-top: 50px;
}

.mt-5 {
  margin-top: 5px !important;
}

.mt-70 {
  margin-top: 70px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.ms-85 {
  margin-left: 85px;
}

.mt-100 {
  margin-top: 100px;
}

.ms-120 {
  margin-left: 120px;
}
.ms-20 {
  margin-left: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-45 {
  margin-top: 45px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ms-10 {
  margin-left: 10px;
}

.ms-30 {
  margin-left: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-15 {
  padding-top: 15px;
}

.ms-15 {
  margin-left: 15px;
}

.ms-410 {
  margin-left: 410px;
}

.ms-98 {
  margin-left: 98px;
}

.button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.text-danger {
  color: #ff4747 !important;
}

.w-150 {
  width: 150px !important;
}

.breadcrumb__text {
  color: var(--gray-blue-gray-4-place-holder, #7e7d88);
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 30px;
}

select {
  appearance: none;
}

.device__list__select,
select > option {
  color: var(--gray-blue-gray-5-text, #535261);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.link {
  text-decoration: none;
}

.device__list__select option {
  background-color: #fff;
}

.device__list__select option::before {
  content: "\00a0"; /* Thêm khoảng trống ảo */
  padding: 5px; /* Chỉnh padding tùy ý */
}
.device__list__select option:hover {
  background-color: #f0f0f0; /* Màu nền khi hover */
  color: #333; /* Màu chữ khi hover */
}

.ant-picker-content thead {
  background: #fff;
}

.ant-picker-content thead tr th {
  color: var(--orange-orange-400, #ff9138) !important;
  font-size: 14px !important;
  font-style: normal !important;
  font-weight: 700 !important;
  line-height: normal !important;
}

.ant-picker-body table {
  font-family: "Nunito" !important;
  font-style: normal;
  font-weight: 600;
  color: var(--gray-gray-400-text, #535261) !important;
  border-radius: 0px;
}

.ant-picker-content,
.ant-picker-content tbody tr td,
.ant-picker-content thead tr th {
  border: none;
  text-align: center;
}

.ant-picker-content tbody tr:nth-child(even) {
  background: #fff;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-today
  .ant-picker-cell-inner::before {
  border-color: #ff7506;
}

:where(.css-dev-only-do-not-override-fpg3f5).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-selected
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-fpg3f5).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-start
  .ant-picker-cell-inner,
:where(.css-dev-only-do-not-override-fpg3f5).ant-picker-dropdown
  .ant-picker-cell-in-view.ant-picker-cell-range-end
  .ant-picker-cell-inner {
  color: #fff;
  background: #ff7506;
}

.ant-picker-month-btn,
.ant-picker-year-btn {
  color: var(--orange-orange-500, #ff7506) !important;
}

.ant-picker-header-super-next-btn,
.ant-picker-header-super-prev-btn {
  display: none;
}
