.mt-50 {
  margin-top: 50px;
}

.mt-5 {
  margin-top: 5px;
}

.mt-70 {
  margin-top: 70px;
}

.mt-15 {
  margin-top: 15px;
}

.mt-30 {
  margin-top: 30px;
}

.ms-85 {
  margin-left: 85px;
}

.mt-100 {
  margin-top: 100px;
}

.ms-120 {
  margin-left: 120px;
}
.ms-20 {
  margin-left: 20px;
}

.mb-10 {
  margin-bottom: 10px;
}

.mt-10 {
  margin-top: 10px;
}

.mt-45 {
  margin-top: 45px;
}

.mb-40 {
  margin-bottom: 40px;
}

.ms-10 {
  margin-left: 10px;
}

.ms-30 {
  margin-left: 30px;
}

.mt-20 {
  margin-top: 20px;
}

.pt-15 {
  padding-top: 15px;
}

.ms-15 {
  margin-left: 15px;
}

.ms-410 {
  margin-left: 410px;
}

.ms-98 {
  margin-left: 98px;
}

.button {
  display: flex;
  padding: 10px 24px;
  justify-content: center;
  align-items: center;
  border: none;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  border-radius: 8px;
  cursor: pointer;
}

.items-center {
  align-items: center;
}

.content-center {
  justify-content: center;
}

.text-danger {
  color: #ff4747;
}

.w-150 {
  width: 150px !important;
}
