.nav__text {
  color: var(--gray-gray-300, #7e7d88);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  display: flex !important;
  align-items: center;
  padding: 25px 0;
}
